################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/services/elisarts.identity/obj
/src/services/elisarts.identity/bin/Debug/netcoreapp3.1
